.root {
    background-color: var(--c-primary-dark);
    color: var(--c-white);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9375rem;
    padding: 0.5rem 0.8125rem;
    border-radius: 1.125rem;
    text-transform: none;
    line-height: normal;

    &--active {
        background-color: var(--c-primary);
    }
}

.icon {
    width: 1.3125rem;
    height: 1.3125rem;
}

.title {
    margin-right: 0.3125rem;
    font-weight: 100;
}
