// Typography
$f-primary: 'Roboto', sans-serif;

// Colours
$c-primary:         #4C6BF5;
$c-primary-dark:    #0F0E25;
$c-secondary:       #2C2A43;
$c-white-rgb:          255, 255, 255;
$c-black:           #000000;
$c-tertiary:        #FF009C;
$c-background:      #0C0B1D;
$c-text:            #ffffff;
$c-confirm-button:  #5400FF;

$container-size: 108.8rem;
$large-container-size: 111.7rem;
