.token-select {
    border: 1px solid rgba(var(--c-white-rgb), .5);
    background-color: var(--c-primary-dark);
    border-radius: 0.75rem;
    padding: 0.6875rem;
    position: relative;

    &__info {
        display: flex;
        justify-content: space-between;
        font-size: 0.875rem;
        margin-bottom: 0.75rem;
    }

    &__token-icon {
        margin-right: 0.3125rem;
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__inputs-info {
        display: flex;
        align-items: center;
    }

    &__token-name {
        text-align: left;
        margin-left: 0.3125rem;
    }

    &__input {
        text-align: right;
        background-color: transparent;
        color: var(--c-text);
        border: none;
        font-size: 1.25rem;
        width: 5.625rem;
    }
}
