@import "../../styles/helpers/variables";
@import "../../styles/helpers/mixins";

.market-page {
    background-color: var(--c-primary-dark);
    margin-bottom: 2rem;

    &__detail {
        margin-top: 2.9rem;
        padding: 0 1.9rem;

        @include for-size(desktop-up) {
            max-width: $large-container-size;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding: 0;
        }
    }

    &__token-swapper {
        @include for-size(desktop-up) {
            max-width: 43.5rem;
        }
    }
}
