@import "../../styles/helpers/variables";
@import "../../styles/helpers/mixins";


.root {
    background-color: var(--c-primary-dark);
    margin-bottom: 1.25rem;
}

.details {
    margin-top: 1.8125rem;
    padding: 0 $mobile-container-padding;
    display: flex;
    flex-direction: column-reverse;

    @include for-size($default-bigger-screen-breakpoint) {
        flex-direction: row;
        max-width: $large-container-size;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0;
    }
}

.infoWrapper {
    @include for-size($default-bigger-screen-breakpoint) {
        padding-right: 1.875rem;
        width: 61%;
    }
}

.tokenSwapper {
    margin-bottom: 3.125rem;

    @include for-size($default-bigger-screen-breakpoint) {
        width: 39%;
    }
}

.stats {
    margin-bottom: 3.125rem;
    width: 100%;
}

.comments {
    color: white;
    padding: 0 $mobile-container-padding;
    margin-bottom: 1.25rem;

    h2 {
        font-size: 1.75rem;
        font-weight: normal;
    }

    @include for-size($default-bigger-screen-breakpoint) {
        max-width: $large-container-size;
        margin: 0 auto 1.25rem;
        padding: 0;
    }
}
