.filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5625rem;
}

.filter {
    margin-bottom: 0.625rem;
    margin-right: 0.625rem;
}

.inputsWrapper {
    width: 100%;
    margin-bottom: 1.25rem;
}

.categories {
    display: flex;
    flex-wrap: wrap;
}

.label {
    color: var(--c-text);
    display: block;
    margin-bottom: 0.625rem;
    font-weight: bold;
}
