@import "../../styles/helpers/variables";
@import "../../styles/helpers/mixins";

.root {
    padding: 0 $mobile-container-padding;

    @include for-size($default-bigger-screen-breakpoint) {
        padding: 0;
    }
}

.header {
    background-color: var(--c-primary-dark);
    color: var(--c-text);
    padding: 1rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.tableHeadRow {
    height: 2.5rem;
    color: var(--c-text);
    opacity: 0.6;
}

.tableRow {
    background-color: var(--c-primary-dark);
    color: var(--c-text);
    text-align: center;
    margin: 0;
    height: 2.5rem;

    td {
        border: none;
    }
}

.link {
    display: block;
    width: 100%;
    padding: 0.8rem;
    text-decoration: none;
    color: var(--c-text);
}
