@import "../../styles/helpers/variables";
@import "../../styles/helpers/mixins";

.root {
    padding: $mobile-container-padding;

    @include for-size($default-bigger-screen-breakpoint) {
        padding: 0;
    }
}

.filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5625rem;
}

.filter {
    margin-bottom: 0.625rem;
    margin-right: 0.625rem;
}

.market {
    margin-bottom: 3.75rem;

    @include for-size($default-bigger-screen-breakpoint) {
        width: calc(33.33% - 0.875rem);
        margin: 0 0.625rem 3.75rem;

        &:nth-child(3n + 3) {
            margin-right: 0;
        }

        &:nth-child(3n + 4), &:first-child {
            margin-left: 0;
        }
    }
}

.markets {
    @include for-size($default-bigger-screen-breakpoint) {
        display: flex;
        flex-wrap: wrap;
    }
}

.skeleton {
    background-color: rgba(0, 0, 0, 0.31);
    margin-bottom: 2rem;
}
