@import "../../styles/helpers/variables";
@import "../../styles/helpers/mixins";

.menu {
    width: 100%;
    background-color: var(--c-primary-dark);
    height: 5.8rem;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;

    &__items {
        max-width: $large-container-size;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 2.5rem;

        @include for-size(desktop-up) {
            padding: 0;
        }
    }

    &__item {
        width: 33.33%;
    }

    &__logo {
        width: 6.4rem;
    }

    &__last-item {
        display: flex;
        justify-content: flex-end;
    }
}
