.token-swapper {
    position: relative;
    padding: 0 1px;

    &__confirm {
        height: 3.75rem;
        width: 100%;
        font-size: 1.25rem;
        font-weight: bold;
        background-color: var(--c-confirm-button);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    }

    &__token {
        margin-bottom: 1.25rem;
    }

    &__switch-tokens {
        position: absolute;
        left: 48%;
        margin-top: -1.25rem;
    }
}

.tokenHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
    font-size: 0.75rem;
    padding: 0 0.625rem;
    align-items: center;
}

.balanceButton {
    border: none;
    background: none;
    color: var(--c-text);
    cursor: pointer;
    margin-right: -8px;
    font-size: 0.75rem;
}

.noMargin {
    margin-bottom: 0;
}
