.confirmButton {
    height: 3.75rem;
    width: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: var(--c-confirm-button);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}
