@import "../../styles/helpers/mixins";
@import "../../styles/helpers/variables";

.root {
    background-color: var(--c-secondary);
    min-height: 25.8rem;
    padding: 2.2rem;
    color: var(--c-text);
    position: relative;
    z-index: 1;

    @include for-size($default-bigger-screen-breakpoint) {
        min-height: 28.1rem;
        margin-bottom: 7.2rem;
    }
}

.wrapper {
    margin: 2rem auto 0;
    display: flex;
    align-items: center;

    @include for-size($default-bigger-screen-breakpoint) {
        max-width: $large-container-size;
    }
}

.title {
    color: var(--c-text);
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.9rem;
    margin: 0 0 0.6rem;

    @include for-size($default-bigger-screen-breakpoint) {
        font-size: 3rem;
        line-height: 3.9rem;
        margin-bottom: 2.5rem;
    }
}

.resolutionDate {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.headerItem {
    @include for-size($default-bigger-screen-breakpoint) {
        width: 50%;
    }
}

.categoryTag {
    margin-bottom: 2rem;
}

.bubble {
    @include for-size($default-bigger-screen-breakpoint) {
        height: 47rem;
        width: 47rem;
        transform: translate(200%, -25%);

        position: absolute;
        background-color: var(--c-primary-dark);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }
}

.opinionCardWrapper {
    display: none;
    width: 30%;

    @include for-size($default-bigger-screen-breakpoint) {
        display: block;
    }
}

.market-header {
    &__back-button {
        margin-bottom: 1.6rem;
    }

    &__resolution-date-title {
        font-weight: 400;
    }

    &__resolution-date-stamp {
        font-weight: bold;
    }
}
