@import "../../styles/helpers/mixins";
@import "../../styles/helpers/variables";

.market-header {
    background-color: var(--c-secondary);
    height: 25.8rem;
    padding: 2.2rem;
    color: var(--c-text);

    @include for-size(desktop-up) {
        height: 28.1rem;
        margin-bottom: 7.2rem;
    }

    &__wrapper {
        max-width: $large-container-size;
        margin: 0 auto;
    }

    &__back-button {
        margin-bottom: 1.6rem;
    }

    &__title {
        color: var(--c-text);
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 2.9rem;
        margin: 0 0 0.6rem;

        @include for-size(desktop-up) {
            font-size: 3rem;
        }
    }

    &__resolution-date {
        font-size: 1.4rem;
    }

    &__resolution-date-title {
        font-weight: 400;
    }

    &__resolution-date-stamp {
        font-weight: bold;
    }
}
