@import "../../styles/helpers/mixins";
@import "../../styles/helpers/variables";

.root {
    background-color: var(--c-secondary);
    min-height: 16.125rem;
    padding: 1.375rem;
    color: var(--c-text);
    position: relative;
    z-index: 1;
    overflow: hidden;

    @include for-size($default-bigger-screen-breakpoint) {
        min-height: 17.5625rem;
        margin-bottom: 4.5rem;
    }
}

.wrapper {
    margin: 1.25rem auto 0;
    display: flex;
    align-items: center;

    @include for-size($default-bigger-screen-breakpoint) {
        max-width: $large-container-size;
    }
}

.title {
    color: var(--c-text);
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 1.8125rem;
    margin: 0 0 0.375rem;

    @include for-size($default-bigger-screen-breakpoint) {
        font-size: 1.875rem;
        line-height: 2.4375rem;
        margin-bottom: 1.5625rem;
    }
}

.resolutionDate {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
}

.headerItem {
    @include for-size($default-bigger-screen-breakpoint) {
        width: 50%;
    }
}

.categoryTag {
    margin-bottom: 1.25rem;
}

.bubble {
    @include for-size($default-bigger-screen-breakpoint) {
        height: 29.375rem;
        width: 29.375rem;
        transform: translate(200%, -25%);

        position: absolute;
        background-color: var(--c-primary-dark);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }
}

.opinionCardWrapper {
    display: none;
    width: 30%;

    @include for-size($default-bigger-screen-breakpoint) {
        display: block;
    }
}

.market-header {
    &__back-button {
        margin-bottom: 1rem;
    }

    &__resolution-date-title {
        font-weight: 400;
    }

    &__resolution-date-stamp {
        font-weight: bold;
    }
}
