@import "../../styles/helpers/mixins";
@import "../../styles/helpers/variables";

.root {
    background-color: var(--c-secondary);
    min-height: 25.8rem;
    padding: 2.2rem;
    color: var(--c-text);
    position: relative;
    z-index: 1;

    @include for-size(desktop-up) {
        min-height: 28.1rem;
        margin-bottom: 7.2rem;
    }
}

.wrapper {
    max-width: $large-container-size;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-item {
    @include for-size(desktop-up) {
        width: 33.33%;
    }
}

.bubble {
    @include for-size(desktop-up) {
        height: 47rem;
        width: 47rem;
        transform: translate(170%, -20%);

        position: absolute;
        background-color: var(--c-primary-dark);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }
}

.opinion-card-wrapper {
    display: none;

    @include for-size(desktop-up) {
        display: block;
    }
}

.market-header {
    &__back-button {
        margin-bottom: 1.6rem;
    }

    &__title {
        color: var(--c-text);
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 2.9rem;
        margin: 0 0 0.6rem;

        @include for-size(desktop-up) {
            font-size: 3rem;
        }
    }

    &__resolution-date {
        font-size: 1.4rem;
    }

    &__resolution-date-title {
        font-weight: 400;
    }

    &__resolution-date-stamp {
        font-weight: bold;
    }
}
