$border-radius: 3px;

.token-weights-bar {
    display: flex;
    height: 0.625rem;
    border-radius: 3px;
    background-color: var(--c-gray);

    &__weight {
        height: 100%;

        &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}
