.confirm {
    height: 3.75rem;
    width: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: var(--c-tertiary);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.tokenSelect {
    margin-bottom: 1.25rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    padding: 0 0.625rem;

}

.balanceButton {
    border: none;
    background: none;
    color: var(--c-text);
    cursor: pointer;
    margin-right: -8px;
    font-size: 0.75rem;
}
