.addMoreButton {
    width: 100%;
    padding: 0.5rem;
}

.input {
    margin-bottom: 1rem;
}

.inputs {
    margin-bottom: 1rem;
}

.actions {
    display: flex;
}

.removeIcon {
    color: var(--c-text);
}
