.root {
    border-radius: 3.2rem;
    padding: 2.4rem;
    min-height: 28.8rem;
    transition: transform 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        transform: translateY(-0.48rem);
    }
}

.title {
    color: var(--c-white);
    font-size: 1.92rem;
    max-width: 70%;
}

.bubble {
    width: 14.4rem;
    position: absolute;
    right: -3.2rem;
    top: -0.75rem;
}

.resolutionInfo {
    color: var(--c-white);
    display: flex;
    justify-content: flex-end;
}

.categoryTitle {
    font-size: 1.4rem;
    color: var(--c-white)
}
