@import "../../styles/helpers/variables";
@import "../../styles/helpers/mixins";

.root {
    background-color: var(--c-secondary);
    height: 10rem;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 1.25rem;

    @include for-size($default-bigger-screen-breakpoint) {
        max-width: $large-container-size;
        padding: 0;
    }
}

.logo {
    width: 5.625rem;
}

.social {
    margin-right: 1.25rem;

    &:last-child {
        margin-right: 0;
    }
}
