.token {
    width: 1.875rem;
    height: 1.875rem;
    font-size: 0.625rem;
    background-color: var(--c-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c-white);
}
